@import '../../../sass/colors';

.content {
  padding-bottom: 2rem;
  font-size: 1.2rem;

  .headline {
    padding: 2rem 0;
    font-size: 1.4rem;
    color: $fore-color-white;
  }

  .block {
    padding-bottom: 3rem;

    a {
      color: $fore-color-white;
      text-decoration: none;

      &:hover {
        color: $fore-color-light-blue;
        text-decoration: underline;
      }
    }


  }

}
