$grid-background-container: rgba(38, 63, 102, 0.41);
$grid-background-container-solid: rgba(16, 27, 43, 0.85);
$grid-background: rgba(16, 27, 43, 0.8);
$grid-background-hover: rgba(16, 27, 43, 0.6);

$fore-color-white: #ffffff;
$fore-color-blue: #a8b0bf;
$fore-color-light-blue: #c5d0e4;
